<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Αποστολή SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Αποστολή SMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!loading">
    <ion-item color="warning" *ngIf="missingDetails">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      <p>Για την αποστολή SMS, πρέπει να έχει συμπληρωθεί το ονοματεπώνυμο και η διεύθυνση κατοικίας από το μενού των
        Ρυθμίσεων <ion-icon name="settings-outline"></ion-icon>.</p>
    </ion-item>

    <ion-item color="primary" *ngIf="inactiveSmsActions" >
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <p>Κάποιες επιλογές δεν ισχύουν αυτήν την ώρα.</p>
    </ion-item>

    <ion-item *ngFor="let smsAction of smsActions" href="{{generateSms(smsAction)}}" (click)="validateSmsAction()" disabled="{{smsAction.active}}">
      <ion-icon slot="start" name="{{smsAction.icon}}"></ion-icon>
      <p>{{ smsAction.description }}</p>
    </ion-item>

  </ion-list>
</ion-content>