<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Αποστολή SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Αποστολή SMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!loading">
    <ion-item color="warning" *ngIf="missingDetails">
      <p>Για την αποστολή SMS, πρέπει να έχει συμπληρωθεί το ονοματεπώνυμο και η διεύθυνση κατοικίας από το tab των
        Ρυθμίσεων.</p>
    </ion-item>

    <!-- (click)="sendSms(smsAction)" -->
    <ion-item *ngFor="let smsAction of smsActions" href="{{generateSms(smsAction)}}" (click)="validateSmsAction()">
      <ion-icon slot="start" name="{{smsAction.icon}}"></ion-icon>
      <p>{{ smsAction.description }}</p>
      <!-- <a href="sms:13033&body=1234">Sms 1</a>
      <a href="sms://13033&body=1234">Sms 11</a> -->
      <!-- <a href="sms://{{getSmsRecipient()}}&body={{getSmsBody(smsAction)}}">Sms 2</a> -->
    </ion-item>

  </ion-list>
</ion-content>