<ion-header>
  <ion-toolbar>
    <ion-title>Στατιστικά για COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngIf="total !== null">
    Κρούσματα: {{total?.confirmed}}, <br>
    Θάνατοι: {{total?.deaths}}, <br>
    Τελευταία ενημέρωση: {{total?.date | date}}
  </ion-item>
</ion-list>


<ion-card>
  <ion-card-header>
    Κρούσματα ανα περιοχή
  </ion-card-header>
  <ion-card-content>
    <canvas #doughnutCanvas></canvas>
  </ion-card-content>
</ion-card>

</ion-content>
